<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>TinyMongo Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class='container'>
    <h1 class='title'><a href="{{url_for('index')}}">The Blog</a></h1>
    <hr>
    <h2 class='title'>{{page.title}}</h2>
    {{page.content|safe}}
    <hr>
    <p>
    [<a href="{{url_for('page_edit', id=page._id)}}">Edit this page</a> | <a href="{{url_for('page_delete',id=page._id)}}">Delete this page</a>]
    </p>
    </div>
    
  </body>
</html>